
p,h3,h2,h1,h4 {
    color : #222;
    margin:0px;
    padding:0px;
}

a {
    text-decoration: none;
}

body {
     font-family: 'Roboto';
   background-color:#eee;
}

div.even {
    background-color:#ddd;
}

div.odd {
    background-color:#eee;
}

div.library {
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    border-radius:18px;
    border:1px solid;
    border-color: #ccc;
    margin-top: 2px;
    margin-left: 6px;
    margin-right: 6px;
}

div.top {
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    margin-top:20px;
}

h3.libs {
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color:#888;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:8px;
}

h3.contact {
    margin-top:6px;
}

.subtitle {
    margin-top:-8px;
    color:#666;
}

.frisco {
    margin-top:14px;
}