<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sickboots.iconicdroid"
          android:versionCode="1"
          android:versionName="1.0">

    <application android:allowBackup="true">

        <activity
            android:name=".IconicActivity"
            android:label="IconicDroid">
        </activity>

        <activity
            android:name=".IconicTypefaceActivity"
            android:label="Typeface">
        </activity>

    </application>

</manifest>
